.success-screen {
  min-height: 100vh;
  background: #e9eff8;
  padding: 16px;
  box-sizing: border-box;
}

.success-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-top: 80px;
}

.success-card {
  margin-top: 24px;
  background: #ffffff;
  border-radius: 20px;
  padding: 16px 16px;
  text-align: center;
  
}

.success-text {
  font-size: 21px;
  margin-bottom: 16px;
  font-weight: 400;
  margin: 8px;
}

.success-button {
  width: 100%;
  padding: 14px 0;
  border-radius: 14px;
  border: none;
  background: #8da0c8;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
