.country-screen {
  min-height: 100vh;
  background: #1881a8;
  padding-bottom: 40px;
}

/* HEADER */

.country-header {
  position: sticky;
  top: 0;
  background: #dfe6f3;
  padding: 55px 0px 7px 20px;
  z-index: 10;
}

.country-back {
  display: flex;                  
  align-items: center;
  gap: 8px;                       

  background: none;
  border: none;
  padding: 0;

  font-size: 17px;
  font-weight: 400;
  color: #000000;
  position: relative;
  z-index: 2;

  cursor: pointer;
}

.back-arrow {
  font-size: 22px;                
  line-height: 1;
  margin-top: -1px;               
}

.country-title {
    position: center;
  margin: 0 auto;

  padding: 8px 20px;
  background: #f2d6d6;
  border-radius: 20px;

  font-size: 22px;
  font-weight: 600;
  color: #000;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}


/* CONTENT */

.country-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* PHOTO CARD */

.photo-card {
  background: #ffffff;
  border-radius: 24px;
  padding: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.photo-card img {
  width: 100%;
  height: auto;
  border-radius: 18px;
  display: block;
}
