/* ===== экран ===== */
.change-screen {
  min-height: 100vh;
  background: #e9eff8;
  padding: 16px;
  box-sizing: border-box;
}

/* ===== header ===== */
.change-header {
  padding: 47px 0px 7px 4px;
  position: relative;
}

.change-back {
  display: flex;                  
  align-items: center;
  gap: 8px;                       

  background: none;
  border: none;
  padding: 0;

  font-size: 17px;
  font-weight: 400;
  color: #000000;
  position: relative;
  z-index: 2;

  cursor: pointer;
}

.back-arrow {
  font-size: 22px;                
  line-height: 1;
  margin-top: -1px;              
}

.change-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-top: 8px;
}

/* ===== cards ===== */
.change-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 8px 0;
  margin-bottom: 16px;
}

/* ===== input ===== */
.change-input {
  display: flex;
  align-items: center;
  padding: 14px 16px;
  border-top: 1px solid #eee;
}

.change-input:first-child {
  border-top: none;
}

.change-input input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  background: transparent;
}

/* ===== button ===== */
.change-button {
  width: calc(100% - 32px);
  margin: 12px 16px 8px;
  padding: 14px 0;
  border-radius: 14px;
  border: none;
  background: #8da0c8;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

/* ===== forgot ===== */
.forgot-button {
  background: none;
  border: none;
  width: 100%;
  padding: 8px 0 12px;
  font-size: 13px;
  color: #8a8a8a;
  cursor: pointer;
}
