/* ================= BASE ================= */
body {
  font-family: "Inter", sans-serif;
}

.screen {
  position: fixed;
  inset: 0;
  background-image: url("/src/screens/Auth/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: white;
}

/* ================= WELCOME ================= */

.welcome {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
  z-index: 2;

  opacity: 0;

transition:
  opacity 800ms ease-out,
  top 1000ms cubic-bezier(0.22, 1, 0.36, 1),
  transform 1000ms cubic-bezier(0.22, 1, 0.36, 1);
  
}

.welcome-visible {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.welcome-center {
  top: 50%;
}

.welcome-up {
  top: 50px;
  transform: translateX(-50%);
}

.welcome h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0.2em;
  margin-top: 8px;
  /* тень */
text-shadow:
  0px 7px 6px rgba(0, 0, 0, 0.22),

  0.5px 0   rgba(0, 0, 0, 0.28),
 -0.5px 0   rgba(0, 0, 0, 0.28),
  0   0.5px rgba(0, 0, 0, 0.28),
  0  -0.5px rgba(0, 0, 0, 0.28);


}


/* ================= SIGN IN ================= */

.signin {
  position: absolute;
  bottom: env(safe-area-inset-bottom);
  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 48px);
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ---------- TITLE ---------- */

.signin-title {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.2em;
  text-align: center;
  margin-bottom: 12px;
  
}

/* ----------------- BOTTOM PANEL (RECTANGLE) ----------------- */

.panel {
  position: absolute;
  inset: 0;               

  background: rgba(10, 40, 30, 0.92);

  opacity: 0;
  transform: translateY(16px);

  transition:
    opacity 800ms ease-out,
    transform 1000ms cubic-bezier(0.22, 1, 0.36, 1);

  z-index: 1;
}

.panel-visible {
  opacity: 1;
  transform: translateY(0);
}

/* ---------- PRIMARY ---------- */

.signin-primary {
  height: 65px;
  border-radius: 30px;
  background: #092718fd;
  border: 2px solid #061b11;
  color: #ffffff;
  font-size: 20px;
  line-height: 0px;
  letter-spacing: 0.2em;
  
  
}

/* ---------- INPUTS ---------- */

.signin-inputs {
  display: flex;
  flex-direction: column;
  gap: 2px;
  
}

.signin-inputs input {
  height: 65px;
  border-radius: 30px;
  padding:  16px;

  background: #d2c8b5;
  color: #000;

  border: 4px solid #0a281a;
  box-sizing: border-box;
}

.signin input::placeholder {
  color: #000000;
  font-size: 18px;
}


/* password + forgot */

.password-row {
  position: relative;
  
}

.password-row input {
  color: rgb(0, 0, 0);
  font-size: 18px;
  width: 100%;
  
}

.forgot {
  font-weight: 400;
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #777474;
  opacity: 8;
}

/* ---------- CONTINUE ---------- */

.signin-continue {
  font-weight: 400;
  height: 64px;
  border-radius: 30px;

  background: #105d5d;
  border: 2px solid #062727;

  color: white;
  font-size: 20px;
  margin-top: 8px;
  line-height: 50px;
  letter-spacing: 0.2em;
}

/* ---------- DIVIDER ---------- */

.signin-divider {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.6;
  margin: 12px 0;
}

.signin-divider span {
  flex: 1;
  height: 1px;
  background: #FFFFFF;
}

.signin-divider p {
  letter-spacing: 0.2em;
  font-size: 16px;
  color: #FFFFFF;
}

/* ---------- APPLE ---------- */

.signin-apple {
  font-weight: 400;
  height: 65px;
  border-radius: 30px;
  border: none;

  background: #082215fd;
  color: #ffffff;
  border: 2px solid #061b11;;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.1em;

  cursor: pointer;
}

.apple-icon {
  font-size: 18px;
}


/* ---------- FOOTER ---------- */

.signin-footer {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  opacity: 0.5;
  line-height: 50px;
  letter-spacing: 0.2em;
}

.signin-footer span {
  text-decoration: underline;
  line-height: 50px;
  letter-spacing: 0.2em;
}


/* ===== PASSWORD RECOVERY LAYOUT ===== */

.recovery {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 200px; /* ключевой отступ вниз */
}

/* Кнопка "Password recovery" */
.recovery .signin-primary {
  height: 65px;
  width: 342px;
  border-radius: 30px;
  background: #092718fd;
  border: 2px solid #061b11;
  color: #ffffff;
  font-size: 20px;
  line-height: 0px;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}

/* Поля */
.recovery .signin-inputs {
  width: 342px;
  gap: 2px; /* между Email и New password */
  margin-bottom: 10px;
}

/* Continue */
.recovery .signin-continue {
  font-weight: 400;
  height: 64px;
  width: 342px;
  border-radius: 30px;

  background: #105d5d;
  border: 2px solid #062727;

  color: white;
  font-size: 20px;
  margin-top: 8px;
  line-height: 50px;
  letter-spacing: 0.2em;

  margin-bottom: 183px;
}

/* Footer */
.recovery .signin-footer {
  margin-top: 0;
  opacity: 0.7;
}









.signup-primary {
  height: 65px;
  border-radius: 30px;
  background: #092718fd;
  border: 2px solid #061b11;
  color: #ffffff;
  font-size: 20px;
  line-height: 0px;
  letter-spacing: 0.2em;

}

/* ---------- INPUTS ---------- */

.signup-inputs {
  display: flex;
  flex-direction: column;
  gap: 2px;  
}

.signup-inputs input {
  height: 65px;
  border-radius: 30px;
  padding:  16px;

  background: #d2c8b5;
  color: #000;

  border: 4px solid #0a281a;
  box-sizing: border-box;
}

.signup input::placeholder {
  color: #000000;
  font-size: 18px;
}


.signup-continue {
  font-weight: 400;
  height: 64px;
  border-radius: 30px;

  background: #105d5d;
  border: 2px solid #062727;

  color: white;
  font-size: 20px;
  margin-top: 8px;
  line-height: 50px;
  letter-spacing: 0.2em;

  margin-bottom: 60px;
}

.signup-divider {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.6;
  margin: 12px 0;
}

.signup-divider span {
  flex: 1;
  height: 1px;
  background: #FFFFFF;
}

.signup-divider p {
  letter-spacing: 0.2em;
  font-size: 16px;
  color: #FFFFFF;
}

.signup-footer {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  opacity: 0.5;
  line-height: 50px;
  letter-spacing: 0.2em;
}

.signup-footer span {
  text-decoration: underline;
  line-height: 50px;
  letter-spacing: 0.2em;
}