.reset-screen {
  min-height: 100vh;
  background: var(--app-bg);
  padding: 16px;
  box-sizing: border-box;
}

/* header */
.reset-header {
  padding: 47px 0 0 4px;
}

.reset-back {
  display: flex;                  
  align-items: center;
  gap: 8px;                       

  background: none;
  border: none;
  padding: 0;

  font-size: 17px;
  font-weight: 400;
  color: #000000;
  position: relative;
  z-index: 2;

  cursor: pointer;
}

.back-arrow {
  font-size: 22px;                
  line-height: 1;
  margin-top: -1px;              
}

.reset-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-top: 8px;
}

/* text */
.reset-desc {
  text-align: left;
  font-size: 14px;
  color: #000000;
  margin: 16px 0 20px;
  line-height: 1.5;
}

/* card */
.reset-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 16px;
}

/* input */
.reset-input {
  width: 302px;
  padding: 14px 12px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  font-size: 14px;
  margin-bottom: 12px;
  outline: none;
}

/* button */
.reset-button {
  width: 100%;
  padding: 14px 0;
  border-radius: 14px;
  border: none;
  background: #8da0c8;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
