.language-screen {
  min-height: 100vh;
  background: #e9eff8;
  padding: 16px;
}

/* header */
.language-header {
position: relative;
padding: 47px 0px 7px 4px;
}

.language-back {
  display: flex;                  
  align-items: center;
  gap: 8px;                       

  background: none;
  border: none;
  padding: 0;

  font-size: 17px;
  font-weight: 400;
  color: #000000;
  position: relative;
  z-index: 2;

  cursor: pointer;
}

.back-arrow {
  font-size: 22px;                
  line-height: 1;
  margin-top: -1px;              
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin: 10px;
}

/* section */
.language-section-title {
  font-size: 12px;
  color: #888;
  margin: 16px 0 8px;
}

/* card */
.language-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
}

/* row */
.language-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 16px;
  font-size: 15px;

  border-bottom: 1px solid #eee;
}

.language-item:last-child {
  border-bottom: none;
}

/* icons */
.language-icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

