.delete-screen {
  min-height: 100vh;
  background: var(--app-bg);
  padding: 16px;
  box-sizing: border-box;
  position: relative;
}

/* header */
.delete-header {
    padding: 47px 0px 7px 4px;
}

.delete-back {
  display: flex;                  
  align-items: center;
  gap: 8px;                       

  background: none;
  border: none;
  padding: 0;

  font-size: 17px;
  font-weight: 400;
  color: #000000;
  position: relative;
  z-index: 2;

  cursor: pointer;
}

.back-arrow {
  font-size: 22px;                
  line-height: 1;
  margin-top: -1px;              
}

.delete-title {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin: 10px;
}

/* card */
.delete-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 12px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.delete-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.delete-name {
  font-size: 15px;
  font-weight: 500;
}

.delete-button {
  background: #8da0c8;
  color: #fff;
  border: none;
  border-radius: 14px;
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
}

/* overlay */
.delete-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

/* modal */
.delete-modal {
  position: fixed;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 250px;

  background: #8da0c8;
  color: #fff;
  border-radius: 20px;
  padding: 20px 24px;
  text-align: center;

  z-index: 11;
}

.delete-question {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 500;
}

.delete-desc {
  font-size: 12px;
  margin: 0 0 16px;
  line-height: 1.4;
  font-weight: 400;
}

.delete-actions {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.delete-yes,
.delete-no {
  background: #fff;
  color: #6b7280;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 6px 20px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  width: 80px;
  height: 40px;
  margin: 10px;
}
